.addTicket {
  width: 100%;
  font-family: Open Sans;
}
.btn {
  width: 100%;
  max-width: 502px;
  min-height: 50px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #4a4a4a;
  border: 1px solid #dfe5ec;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s;
}
.btn:hover {
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
